.fundo{
    animation: scales 3s alternate  infinite;
    transform-origin: center;
  }
.pao-baixo{
      animation: rotatepao 14s cubic-bezier(.1,.49,.41,.97)  infinite;
      transform-origin: center;
}
.pao-cima{
      animation: rotatepao 7s 1s cubic-bezier(.1,.49,.41,.97)  infinite;
      transform-origin: center;
}
.olhos{animation: olhos   2s  alternate  infinite;
      transform-origin: center;
}

.left-sparks{animation: left-sparks   4s  alternate  infinite;
      transform-origin: 150px 156px;
}

.right-sparks{animation: left-sparks   4s  alternate  infinite;
      transform-origin: 310px 150px;
}

.svg {
      margin: 17% 30%;
}